<!DOCTYPE html>

<html>
  <head>
    <title><%- room_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/style_renew.css" />
    <link rel="stylesheet" href="/assets/css/uikit.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="is-preload">
    <div class="pageWrapper wisteriaBG" id="pageWrapper">
      <!-- 左側 -->
      <div class="leftArea">
        <!--ビデオエリア  -->
        <div class="videoArea blind4black" id="videoapp">
          <div id="container" class="uk-grid-small" uk-grid>
            <div class="videowrapper">
              <video id="local_video" class="membersvideo" autoplay controls></video>
              <p class="membername"><%- user_name %></p>
            </div>
          </div>
        </div>

        <!-- コントロールエリア -->
        <div class="controlArea">
          <!-- ビデオONOFF -->
          <span class="fab fab-off" id="videobutton">
            <i class="fas fa-video"></i>
            カメラ
          </span>
          <!-- マイクONOFF -->
          <span class="fab fab-off" id="micbutton">
            <i class="fas fa-microphone"></i>
          </span>
          <!-- 画面共有開始 -->
          <span class="fab fab-off" id="capturebutton">
            <i class="fas fa-tv"></i>
          </span>
          <!-- 録音録画ONOFF 
          <span class="fab fab-disable" id="recordbutton">
            <i class="fas fa-compact-disc"></i>
          </span>
          -->
          <!-- 反応（Good） -->
          <span class="fab fab-left fab-off" id="goodbutton">
            <i class="fas fa-thumbs-up"></i>
          </span>
          <!-- 反応（Bad） -->
          <span class="fab fab-right fab-off" id="badbutton">
            <i class="fas fa-thumbs-down"></i>
          </span>
          <!-- 招待追加 -->
          <span class="fab fab-off" id="linkbutton">
            <i class="fas fa-link"></i>
          </span>
          <!-- 背景変更 -->
          <span class="fab fab-off" id="bgchangebutton">
            <!-- <i class="fas fa-palette"></i> -->
            <img src="assets/images/global.svg">
          </span>
          <!-- 退室 -->
          <span class="fab fab-off" id="leavebutton">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </div>
      </div>

      <!-- 右側 -->
      <div class="rightArea">
        <!-- ユーザエリア -->
        <div class="userArea">
          <div id="memberapp" class="member">
            <h4><%- room_name %> 参加者：{{ loginmembers.length + 1 }}</h4>
            <ul>
              <li>
                <span id="user_good_myid" class="hidden goodicon"
                  ><i class="fas fa-thumbs-up"></i
                ></span>
                <span id="user_bad_myid" class="hidden badicon"
                  ><i class="fas fa-thumbs-down"></i></span
                ><%- user_name %>
              </li>
              <li v-for="member in loginmembers">
                <span
                  v-bind:id="'user_good_' + member.user_id"
                  class="hidden goodicon"
                  ><i class="fas fa-thumbs-up"></i
                ></span>
                <span
                  v-bind:id="'user_bad_' + member.user_id"
                  class="hidden badicon"
                  ><i class="fas fa-thumbs-down"></i
                ></span>
                {{ member.user_name }}
              </li>
            </ul>
          </div>
        </div>

        <!-- チャットエリア -->
        <div class="chatArea">
          <div class="chat" id="chatscrollarea">
            <ul id="chatapp">
              <template v-for="item in contents">
                <li class="">{{ item.text }}</li>
              </template>
            </ul>
          </div>
          <div class="formcontainer">
            <form class="chatform" onsubmit="return sendChat();">
              <input
                type="text"
                id="input_msg"
                placeholder="Enterで送信"
                autocomplete="off"
                max="150"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- リソースなど -->
    <div class="hidden">
      <input id="room_id" value="<%- room_id %>" />
      <input id="room_name" value="<%- room_name %>" />
      <input id="user_name" value="<%- user_name %>" />
    </div>
    <audio id="alert_se" preload>
      <source src="assets/sound/login.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_on_se" preload>
      <source src="assets/sound/mic_switch_on.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_off_se" preload>
      <source src="assets/sound/mic_switch_off.mp3" type="audio/mp3" />
    </audio>
    <audio id="vote_se" preload>
      <source src="assets/sound/vote.mp3" type="audio/wav" />
    </audio>

    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/uikit.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vue_renew.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-seamless-scroll@1.1.17/dist/vue-seamless-scroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/script_renew.js"></script>
  </body>
</html>
