<!DOCTYPE html>

<html>
  <head>
    <title><%- room_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/style_renew.css" />
    <link rel="stylesheet" href="/assets/css/uikit.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="is-preload">
    <div class="pageWrapper bg2" id="pageWrapper">
      <!-- 左側 -->
      <div class="leftArea">
        <!--ビデオエリア  -->
        <div class="videoArea blind4black" id="videoapp">
          <div id="container" class="uk-grid-small" uk-grid>
            <div class="videowrapper">
              <video id="local_video" class="membersvideo" autoplay controls></video>
              <p class="membername"><%- user_name %></p>
            </div>
          </div>
        </div>

        <!-- コントロールエリア -->
        <div class="controlArea">

          <!-- 背景変更
          <div class="fab fab-off" id="widthChangebutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/pictures.svg" class="svgicon" >
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">右エリア</span>
                </td>
              </tr>
            </table>
          </div>
        -->

          <!-- ビデオONOFF -->
          <div class="fab fab-off" id="videobutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/video.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">ビデオ</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- マイクONOFF -->
          <div class="fab fab-off" id="micbutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/microphone.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">マイク</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- 画面共有開始 -->
          <div class="fab fab-off" id="capturebutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/computer.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">画面共有</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- 録画開始 -->
          <div class="fab fab-off" id="recordbutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/disc.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">録画</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- リアクション -->
          <div class="fab fab-off fab-left" id="goodbutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/thumb_u.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle reactiontitle">リアクション</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="fab fab-off fab-right" id="badbutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/thumb_d.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle"></span>
                </td>
              </tr>
            </table>
          </div>

          <!-- 招待追加 -->
          <div class="fab fab-off" id="linkbutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/share.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">招待</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- 背景変更 -->
          <div class="fab fab-off" id="bgchangebutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/pictures.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">背景</span>
                </td>
              </tr>
            </table>
          </div>

          <!-- 退室 -->
          <div class="fab fab-off" id="leavebutton">
            <table>
              <tr>
                <td>
                  <img src="assets/images/door.svg" class="svgicon">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="buttontitle">退室</span>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>

      <!-- 右側 -->
      <div class="rightArea">
        <div class="edgespace"></div>
        <img src="assets/images/rightarrow.svg" class="svgicon leftrighticon" id="widthChangebutton">
        
        <!-- ユーザエリア -->
        <div class="userArea">
          <div id="memberapp" class="member">
            <h4><%- room_name %></h4>
            <ul>
              <li style="margin-bottom: 10px;">参加者：{{ loginmembers.length + 1 }}</li>
              <li>
                <span id="user_good_myid" class="hidden goodicon"
                  ><i class="fas fa-thumbs-up"></i
                ></span>
                <span id="user_bad_myid" class="hidden badicon"
                  ><i class="fas fa-thumbs-down"></i></span
                ><%- user_name %>
              </li>
              <li v-for="member in loginmembers">
                <span
                  v-bind:id="'user_good_' + member.user_id"
                  class="hidden goodicon"
                  ><i class="fas fa-thumbs-up"></i
                ></span>
                <span
                  v-bind:id="'user_bad_' + member.user_id"
                  class="hidden badicon"
                  ><i class="fas fa-thumbs-down"></i
                ></span>
                {{ member.user_name }}
              </li>
            </ul>
          </div>
        </div>

        <!-- チャットエリア -->
        <div class="chatArea">
          <div class="chat" id="chatscrollarea">
            <ul id="chatapp">
              <template v-for="item in contents">
                <li class="">{{ item.text }}</li>
              </template>
            </ul>
          </div>
          <div class="formcontainer">
            <form class="chatform" onsubmit="return sendChat();">
              <input
                type="text"
                id="input_msg"
                placeholder="Enterで送信"
                autocomplete="off"
                max="150"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- リソースなど -->
    <div class="hidden">
      <input id="room_id" value="<%- room_id %>" />
      <input id="room_name" value="<%- room_name %>" />
      <input id="user_name" value="<%- user_name %>" />
    </div>
    <audio id="alert_se" preload>
      <source src="assets/sound/login.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_on_se" preload>
      <source src="assets/sound/mic_switch_on.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_off_se" preload>
      <source src="assets/sound/mic_switch_off.mp3" type="audio/mp3" />
    </audio>
    <audio id="vote_se" preload>
      <source src="assets/sound/vote.mp3" type="audio/wav" />
    </audio>

    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/uikit.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vue_renew.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-seamless-scroll@1.1.17/dist/vue-seamless-scroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/script_renew.js"></script>
    <script src="/screen_rec.js"></script>
  </body>
</html>
